function submitForm() {

  let name = document.getElementById("name").value;
  let usn = document.getElementById("usn").value;
  let title = document.getElementById("title").value;
  let category = document.getElementById("category").value;
  let description = document.getElementById("description").value;

  if (name === "" || usn === "" || description === "") {
    alert("Please fill all required fields!");
    return;
  }

  let formData = {
    name,
    usn,
    title,
    category,
    description
  };

  let allForms = JSON.parse(localStorage.getItem("forms")) || [];
  allForms.push(formData);
  localStorage.setItem("forms", JSON.stringify(allForms));

  alert("Feedback Submitted Successfully!");

  // Clear fields
  document.getElementById("name").value = "";
  document.getElementById("usn").value = "";
  document.getElementById("title").value = "";
  document.getElementById("description").value = "";
}
